section {
  padding-top: 6rem;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #ebffe2;
}

/* Section Skill */
#skill {
  background-color: #ebffe2;
}

#skill .bar {
  background-color: #fff;
  height: 30px;
  border: 1px solid #ddd;
  margin: 5px 0 20px 0;
}

.bar .nilai {
  height: 30px;
  color: white;
  text-align: center;
  display: inline-block;
  background-color: #f84744;
}

.html {
  width: 90%;
}

.css {
  width: 85%;
}

.js {
  width: 70%;
}

.java {
  width: 77%;
}

.sql {
  width: 83%;
}

/* Section Contact */
#contact {
  background-color: #ebffe2;
}

/* Header */
header {
  height: 70px;
  background-color: #8ae161;
}

header h1 {
  display: inline-block;
  padding: 16px 24px;
  text-transform: uppercase;
}

header h1 a:hover {
  color: red;
  transition: 0.6s;
}

header ul {
  float: right;
}

header ul li {
  display: inline-block;
  padding: 24px;
}

header ul li a:hover {
  color: red;
  transition: 0.6s;
}

a {
  text-decoration: none;
  color: inherit;
}

.container2 {
  width: 90%;
  margin: 0 auto;
}

.container2::after {
  content: "";
  display: block;
  clear: both;
}
/* End Header */

/* Mobile Menu */
.mobile-menu {
  padding: 20px;
  float: right;
  display: none;
}

.mobile-menu:hover {
  cursor: pointer;
}

#check {
  position: relative;
  display: none;
}
/* End Mobile Menu */

/* SideBar */
.sidebar {
  top: 70px;
  left: -300px;
  bottom: 0;
  width: 300px;
  background-color: rgba(16, 47, 80, 0.9);
}

#check:checked ~ .sidebar {
  left: -30px;
}

.sidebar ul li a {
  color: #fff;
}

.sidebar ul li:hover {
  background-color: #f84744;
}

.sidebar ul li {
  list-style: none;
  padding: 24px;
  transition: 0.3s;
  transition-property: background-color;
}

@media (max-width: 768px) {
  .mobile-menu {
    display: block;
  }

  header ul {
    display: none;
  }
}
/* End Side Bar */

.container .card:hover {
  margin: -20px;
}

section h2 {
  padding-bottom: 20px;
  text-align: center;
  margin: 20px;
  position: relative;
}

section h2::before {
  content: "";
  display: block;
  bottom: 0;
  position: absolute;
  height: 4px;
  width: 50px;
  background-color: #f84744;
  left: calc(50% - 25px);
}

/* clock */

@font-face {
  font-family: "Digital-7";
  font-style: normal;
  font-weight: 400;
  src: local("Digital-7"), local("Digital-7-Regular"), url(https://allfont.net/cache/fonts/digital-7_b73ef91485431ac0271f24009e14ccee.woff) format("woff"),
    url(https://allfont.net/cache/fonts/digital-7_b73ef91485431ac0271f24009e14ccee.ttf) format("truetype");
}

:root {
  --clock-size: 300px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

main {
  height: 50vh;
  width: 98vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clock-container {
  position: relative;
  width: var(--clock-size);
  height: var(--clock-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-body {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  animation: move 30s ease infinite;
}

.clock-body > .hand > span {
  width: 2px;
  height: calc((var(--clock-size) / 2) - 40px);
  position: absolute;
  border-radius: 10px;
}

.clock-body > .minute.hand > span {
  height: calc((var(--clock-size) / 2) - 60px);
  width: 4px;
  margin: -1px;
}

.hand > span {
  background: rgb(0, 0, 0);
}

.clock-body > .hour.hand > span {
  height: calc((var(--clock-size) / 2) - 80px);
  width: 7px;
  margin: -3px;
}

.clock-body .dot {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #333;
  animation: move 30s ease infinite;
  border-width: 3px !important;
}

.digital-time > span {
  font-size: 6rem;
}

.digital-time {
  font-family: "Digital-7", arial !important;
  display: flex;
  align-items: center;
  font-size: 3rem;
  width: 300px;
}

.digital-time > h3,
.digital-time > span {
  animation: move 30s ease infinite;
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.num {
  position: absolute;
  color: #000;
  font-family: "digital-7", arial;
  font-size: 2rem;
  z-index: 9;
}
.n-12 {
  top: 20px;
}

.n-3 {
  right: 20px;
}
.n-6 {
  bottom: 20px;
}

.n-9 {
  left: 20px;
}

@keyframes move {
  0% {
    border: 8px solid #3bffde;
    box-shadow: 0 0 15px 10px rgba(61, 255, 223, 0.788);
    background: #c6fff5;
    color: #000000;
  }
  25% {
    border: 8px solid rgb(255, 0, 76);
    box-shadow: 0 0 15px 10px rgba(255, 0, 76, 0.76);
    background: rgb(255, 176, 200);
    color: rgb(0, 0, 0);
  }
  50% {
    border: 8px solid rgb(255, 0, 255);
    box-shadow: 0 0 15px 10px rgba(255, 0, 255, 0.671);
    background: rgb(255, 200, 217);
    color: rgb(0, 0, 0);
  }
  75% {
    border: 8px solid rgb(111, 0, 255);
    box-shadow: 0 0 15px 10px rgba(111, 0, 255, 0.644);
    background: rgb(209, 174, 255);
    color: rgb(0, 0, 0);
  }
  100% {
    border: 8px solid #3bffde;
    box-shadow: 0 0 15px 10px rgba(59, 255, 222, 0.733);
    background: #c6fff5;
    color: rgb(0, 0, 0);
  }
}
